@import "colors";

$border-shadow: rgba(0,0,0,0.5);

@mixin shutter($color) {
  background-color: $color;
  background-image: repeating-linear-gradient(darken($color, 20), darken($color, 20) 1px, $color 1px, $color 3px, darken($color, 20) 3px, darken($color, 20) 4px);
  border: 4px solid $color;
  box-shadow: 0 0 0 1px $border-shadow;
  outline: 1px solid darken($color, 30);
  outline-offset: -5px;
}

.yellow {
  @include shutter($y);
}
.white {
  @include shutter($w);
}
.salmon {
  @include shutter($s);
}
.pink {
  @include shutter($p);
}
.blue {
  @include shutter($b);
}
.turquoise {
  @include shutter($t);
}
